In [299]:
import pandas as pd
import numpy as np

In [300]:
df = pd.read_csv('top_chess_players_aug_2020.csv')

Total number of players in the dataset

In [301]:
# Total rows in dataset
len(df)

977687

## Grandmasters

Top 10 highest rated Grandmasters

In [302]:
# Create Dataframe of all Grandmasters
gm_df = df.loc[df['Title']=='GM']
gm_df.head(10)

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
0,1503014,"Carlsen, Magnus",NOR,M,1990.0,GM,2863.0,2881.0,2886.0,NaN
1,2020009,"Caruana, Fabiano",USA,M,1992.0,GM,2835.0,2773.0,2711.0,NaN
2,4100018,"Kasparov, Garry",RUS,M,1963.0,GM,2812.0,2783.0,2801.0,i
3,8603677,"Ding, Liren",CHN,M,1992.0,GM,2791.0,2836.0,2788.0,NaN
4,4168119,"Nepomniachtchi, Ian",RUS,M,1990.0,GM,2784.0,2778.0,2785.0,NaN
5,623539,"Vachier-Lagrave, Maxime",FRA,M,1990.0,GM,2778.0,2860.0,2822.0,NaN
6,4126025,"Grischuk, Alexander",RUS,M,1983.0,GM,2777.0,2784.0,2765.0,NaN
7,13300474,"Aronian, Levon",ARM,M,1982.0,GM,2773.0,2778.0,2739.0,NaN
8,5202213,"So, Wesley",USA,M,1993.0,GM,2770.0,2741.0,2816.0,NaN
9,13400924,"Radjabov, Teimour",AZE,M,1987.0,GM,2765.0,2758.0,2757.0,NaN

Total number of players with the Grandmaster title

In [303]:
len(gm_df)

1721

Number of Grandmasters who are currently active

In [304]:
len(gm_df) - len(gm_df.loc[gm_df['Inactive_flag']=='i'])

1301

Average standard rating of Grandmasters

In [305]:
round(gm_df['Standard_Rating'].mean())

2505

### Women who are Grandmasters

Top 10 female players

In [306]:
gm_df.loc[gm_df['Gender']=='F'].head(10)

,Fide id,Name,Federation,Gender,Year_of_birth,Title,Standard_Rating,Rapid_rating,Blitz_rating,Inactive_flag
64,700070,"Polgar, Judit",HUN,F,1976.0,GM,2675.0,2646.0,2736.0,wi
90,8602980,"Hou, Yifan",CHN,F,1994.0,GM,2658.0,2621.0,2601.0,NaN
329,5008123,"Koneru, Humpy",IND,F,1987.0,GM,2586.0,2483.0,2483.0,NaN
346,4147103,"Goryachkina, Aleksandra",RUS,F,1998.0,GM,2582.0,2502.0,2441.0,NaN
365,700088,"Polgar, Susan",HUN,F,1969.0,GM,2577.0,NaN,NaN,wi
376,8600147,"Xie, Jun",CHN,F,1970.0,GM,2574.0,NaN,NaN,wi
459,8603006,"Ju, Wenjun",CHN,F,1991.0,GM,2560.0,2610.0,2536.0,NaN
538,14109336,"Lagno, Kateryna",RUS,F,1989.0,GM,2546.0,2521.0,2608.0,NaN
551,14114550,"Muzychuk, Mariya",UKR,F,1992.0,GM,2544.0,2506.0,2326.0,NaN
600,12801259,"Cmilyte, Viktorija",LTU,F,1983.0,GM,2538.0,2394.0,2435.0,wi

Number of women who are Grandmasters

In [307]:
len(gm_df.loc[gm_df['Gender']=='F'])

37

Number of women who are Grandmasters and currently active

In [308]:
# Number of Grandmasters who are women and who are currently active
len(gm_df.loc[(gm_df['Gender']=='F') & (gm_df['Inactive_flag']!='wi')])

28

Average standard rating of women with the Grandmaster title

In [309]:
round(gm_df.loc[gm_df['Gender']=='F']['Standard_Rating'].mean())

2483

Average age of women with the Grandmaster title

In [310]:
2021 - round(gm_df.loc[gm_df['Gender']=='F']['Year_of_birth'].mean())

40

Countries with the most female Grandmasters

In [311]:
women_gm = pd.DataFrame(gm_df.loc[gm_df['Gender']=='F']
             .groupby('Federation')['Fide id'].count()
             .sort_values(ascending=False))

women_gm.columns = ['Count']
women_gm.head(10)

            Count
Federation
CHN             7
RUS             6
GEO             5
UKR             4
HUN             3
IND             2
USA             1
SWE             1
SCO             1
QAT             1

## Countries

In [312]:
# Count of Grandmasters per country
countries_df = pd.DataFrame(gm_df.groupby('Federation')['Fide id'].count())
countries_df.reset_index(inplace = True)
countries_df.columns = ['Federation', 'GM Total']
countries_df.sort_values('GM Total', ascending = False, inplace = True)

countries_df.reset_index(drop = True, inplace=True)

In [313]:
# Average standard rating per country
avg_standard_rating = gm_df.groupby('Federation')['Standard_Rating'].mean().apply(round)

countries_df = countries_df.join(avg_standard_rating, on = 'Federation')
countries_df.columns = ['Federation', 'GM Total', 'Avg Standard Rating']

In [314]:
# Average Grandmaster age per country
avg_gm_age_per_fed = gm_df.groupby('Federation')['Year_of_birth'].mean()
avg_gm_age_per_fed = avg_gm_age_per_fed.apply(round)
current_year = 2021
avg_gm_age_per_fed = current_year - avg_gm_age_per_fed
countries_df = countries_df.join(avg_gm_age_per_fed, on = 'Federation')
countries_df.columns = ['Federation', 'GM Total', 'Avg Standard Rating', 'Average Age']

This table shows the which countries have the most Grandmasters, as well as the average standard rating and average age.

In [315]:
countries_df.head(20)

   Federation  GM Total  Avg Standard Rating  Average Age
0         RUS       237                 2523           44
1         GER        96                 2494           50
2         USA        95                 2525           46
3         UKR        88                 2530           41
4         IND        66                 2525           31
5         ESP        55                 2488           46
6         HUN        52                 2520           44
7         FRA        51                 2510           46
8         SRB        50                 2451           52
9         CHN        48                 2564           35
10        POL        47                 2519           39
11        ISR        44                 2492           47
12        ARM        40                 2531           38
13        NED        38                 2530           42
14        ENG        36                 2508           53
15        CZE        34                 2484           47
16        BUL        32                 2431           53
17        GEO        31                 2501           43
18        CRO        30                 2481           54
19        CUB        27                 2479           40